.ProximaNovaLight{
	font-family: "proxima-nova", "proxima-nova-n3", sans-serif;
	font-style: normal;
	font-weight: 300;
}

.ProximaNovaLightItalic{
	font-family: "proxima-nova", "proxima-nova-i3", sans-serif;
	font-style: italic;
	font-weight: 300;
}

.ProximaNovaRegular{
	font-family: "proxima-nova", "proxima-nova-n5", sans-serif;
	font-style: normal;
	font-weight: 400;
}

.ProximaNovaMedium{
	font-family: "proxima-nova", "proxima-nova-n5", sans-serif;
	font-style: normal;
	font-weight: 500;
}

.ProximaNovaBold{
	font-family: "proxima-nova", "proxima-nova-n7", sans-serif;
	font-style: normal;
	font-weight: 700;
}
